.gradle
/local.properties
/.idea/workspace.xml
/.idea/modules.xml
/.idea/gradle.xml
/.idea/runConfigurations
/.idea/shelf
/.idea/markdown-navigator
/.idea/markdown-navigator.*
projectFilesBackup
.DS_Store
build/*
captures/
com_crashlytics_export_strings.xml
.idea/libraries
uiDesigner.xml
*.iml
VG/src/debug/res/values/secret_strings.xml
version.txt
spoon-output/